<section class="sign-in">
  <% if use_developer_strategy? %>
    <h1>Sign in</h1>

    <p>Sign in with the development environment test mode.</p>
    <p><%= link_to "Sign in (development)", "/auth/developer", :class => 'button' %></p>
  <% else %>
    <h1>Sign in</h1>

    <p>
      Sign in with your <em><%= GapOMatic.permitted_email_hostnames.join(', ') %></em> account.
    </p>

    <p>
      <%= link_to "/auth/google", :class => 'button' do %>
        <%= fa_icon 'google' %> Sign in with Google
      <% end %>
    </p>
  <% end %>
</section>
