.dashboard-list {
  @include wrap;
  overflow: auto;

  padding-top: 10px;
  padding-bottom: 10px;

  h1 {
    font-size: 23px;
    padding: 20px 0;
  }

  > ul {
    padding: 10px 0;

    @include full-width {
      float: left;
      width: 80%;
      padding: 0 0 0 30px;
    }
  }

  > ul > li {
    list-style: none;
    margin-bottom: 5px;

    a {
      padding: 10px;
      display: block;
      background: $white;
      box-shadow: #dadada 1px 2px 0px, #eee 0px 0px 0px 1px;
      text-decoration: none;

      h2 {
        color: $text-colour;
        font-size: 19px;
        padding-bottom: 3px;
      }
      ul li {
        display: inline;
        list-style: none;
        color: #aaa;
        font-size: 12px;

        &:not(:last-of-type)::after {
          content: "/";
          color: #ddd;
    			display: inline-block;
          padding: 0 3px 0 5px;
        }
      }
    }
  }

  .new {
    @include full-width {
      float: left;
      width: 20%;
    }

    a {
      @include button;
    }
  }

}
