.dashboard {

  header {
    @include wrap;

    background: $white;
    color: $text-colour;
    border-bottom: 1px solid $grey;

    padding-top: 10px;
    padding-bottom: 10px;

    h1 {
      font-size: 17px;
      font-weight: bold;
      text-align: center;

      @include full-width {
        font-size: 25px;
        padding: 5px 0;
      }
    }

    $pdf: false !default;
    @if $pdf {
      background: none;
      color: #000;
      padding-bottom: 0;

      h1 {
        font-size: 45px;
        text-align: left;
      }
    }
  }

  > p, > ul, > h2 {
    @include wrap;
  }

  ul.entries {
    padding-top: 10px;
    padding-bottom: 10px;

    @include full-width {
      display: flex;
      flex-flow: row wrap;
      justify-content: left;
      align-content: stretch;
    }

    li {
      background: $white;
      border: 1px solid $grey;
      padding: 10px;
      margin-bottom: 2px;
      overflow: auto;
      position: relative;

      @include full-width {
        width: 310px;
        margin-right: 2px;
        min-height: 140px;

        /* Fallbacks for the PDF version and older browsers */
        display: inline-block;
        vertical-align: top;
      }

      .title, .description {
        float: left;
        width: 75%;
      }
      .status {
        @extend .c100;

        float: right;
        margin: 0;
        font-size: 60px;

        > span {
          color: #000;
        }
      }

      .title {
        font-weight: bold;

        @include full-width {
          font-size: 19px;
        }
      }
      .description {
        padding-top: 7px;
        font-size: 12px;
        line-height: 1.3;
        clear: left;
      }
      .edit {
        font-size: 12px;
        padding: 5px 0;
        clear: left;

        @include full-width {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 10px;
        }
      }

      &.new-entry {
        padding: 0;

        a {
          display: block;
          color: #888;
          font-size: 17px;
          padding: 10px;

          &:hover {
            background: #eee;
          }
        }

        @include full-width {
          display: flex;
          align-items: stretch;

          a {
            font-size: 25px;
            flex: 1;
          }
        }
      }
    }
  }

  .pdf-link {
    padding-top: 20px;

    a {
      @include button;

      width: 250px;
      margin: 0 auto;
    }
  }

}
