.dashboard {

  > p, > ul, > h2 {
    @include wrap;
  }

  ul.entries {
    padding-top: 10px;
    padding-bottom: 10px;

    @include full-width {
      display: flex;
      flex-flow: row wrap;
      justify-content: left;
      align-content: stretch;
    }

    li {
      background: $white;
      border: 1px solid $grey;
      padding: 10px;
      margin-bottom: 2px;
      overflow: auto;
      position: relative;

      @include full-width {
        width: 310px;
        margin-right: 2px;
        min-height: 140px;

        /* Fallbacks for the PDF version and older browsers */
        display: inline-block;
        vertical-align: top;
      }

      .title, .description {
        float: left;
        width: 75%;
      }
      .status {
        @extend .c100;

        float: right;
        margin: 0;
        font-size: 60px;

        > span {
          color: #000;
        }
      }

      .title {
        font-weight: bold;

        @include full-width {
          font-size: 19px;
        }
      }
      .description {
        padding-top: 7px;
        font-size: 12px;
        line-height: 1.3;
        clear: left;
      }
      .edit {
        font-size: 12px;
        padding: 5px 0;
        clear: left;

        @include full-width {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 10px;
        }
      }

      &.new-entry {
        padding: 0;
        background: none;
        border: 1px dashed $grey;

        @include full-width {
          display: flex;
          align-items: stretch;
        }

        a {
          flex: 1;
          display: flex;
          align-items: center;

          color: #888;
          font-size: 17px;
          text-decoration: none;

          padding: 10px;
          @include full-width {
            padding: 15px;
          }

          i {
            padding-right: 8px;

            @include full-width {
              opacity: 0.1;
              font-size: 100px;
              padding-right: 15px;
            }
          }

          &:hover {
            background: #eee;
          }
        }
      }
    }
  }

  .pdf-link {
    padding-top: 20px;

    a {
      @include button;

      width: 250px;
      margin: 0 auto;
    }
  }

}

body.pdf .dashboard {
  ul.entries li {
    width: 24%;
  }
}
