.sign-in {
  @include smaller-wrap;

  background: $white;

  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 20px;
  text-align: center;

  font-size: 19px;
  border: 1px solid #eee;

  h1 {
    padding: 10px 0;
    font-size: 25px;
  }
  p {
    padding: 10px 0;
  }

  em {
    font-weight: bold;
  }
}
