<% content_for(:header_title, 'Dashboards') %>

<section class="dashboard-list">
  <p class="new">
    <%= link_to new_dashboard_path do %>
      <%= fa_icon "plus-circle" %>
      add a new dashboard
    <% end %>
  </p>

  <ul>
    <% dashboards.each do |dashboard| %>
    <li><%= link_to dashboard.title, dashboard_path(dashboard) %></li>
    <% end %>
  </ul>
</section>
