<section class="dashboard">
  <%= render partial: 'header' %>

  <ul class="entries">
    <% entries.each do |entry| %>
      <%= render partial: 'entry', locals: { entry: entry,
                                             include_links: true } %>
    <% end %>

    <li class="new-entry">
      <%= link_to 'Add a new entry', new_dashboard_entry_path(dashboard) %>
    </li>
  </ul>

</section>
