* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	background: $background-colour;
	font-family: $font-stack;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.2;
	border-top: 5px solid $primary-colour;

	&.pdf {
		background: none;
		border: none;
	}
}

h1, h2, h3 {
	font-weight: bold;
}

a, a:visited, a:link {
	color: $primary-colour;
}
a:hover, a:active {
	color: darken($primary-colour, 10%);
}
a.button {
	@include button;
}

header {
	@include wrap;

	background: $white;
	color: $text-colour;
	border-bottom: 1px solid $grey;

	padding-top: 10px;
	padding-bottom: 10px;

	h1 {
		font-size: 17px;
		font-weight: bold;
		text-align: center;

		@include full-width {
			font-size: 25px;
			padding: 5px 0;
		}
	}
}
body.pdf header {
	margin-bottom: 10px;
	h1 {
		font-size: 45px;
		text-align: left;
	}
}

footer {
	background: $white;
	border-top: 1px solid $grey;
	margin: 40px 0 0;
	padding: 20px 0;
	text-align: center;

	.signed-in-user {
		padding-bottom: 20px;
		font-size: 14px;

		span:not(:first-of-type)::before {
			content: '/';
			color: #ddd;
			display: inline-block;
			padding: 0 7px 0 5px;
		}

		&, a {
			color: #888;
		}
	}

	.colophon {
		text-transform: uppercase;
		text-shadow: #eee 0px 1px 0px;
		font-weight: bold;
		font-size: 12px;
		color: #ccc;
		letter-spacing: 1px;
	}
}

.flash {
	margin: 0px;
	padding: 10px 15px;
	font-size: 19px;
	font-weight: 600;
	border-left: 10px solid;
	background: #eee;

	&.flash-notice {
		border-left-color: $success-colour;
		// border-top-color: $success-colour;
	}

	&.flash-alert {
		border-left-color: $danger-colour;
		// border-top-color: $danger-colour;
	}
}
