* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	background: #fcfcfc;
	font-family: $font-stack;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.2;
}

h1, h2, h3 {
	font-weight: bold;
}

a, a:visited, a:link {
	color: $primary-colour;
}
a:hover, a:active {
	color: darken($primary-colour, 10%);
}

footer {
	border-top: 1px solid #eee;
	margin: 40px 0 0;
	padding: 20px 0;
	color: #ccc;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;

	$pdf: false !default;
	@if $pdf {
		letter-spacing: 1px;
	}
}
